h1{
  colour:red;
}

h2{
colour:blue;
}

p{
  font-family: sans-serif;
}


div{
  font-size: 14px;
}

#intro{
    font-family: Verdana;
    }

.colour{
    color:green;
    }

a:link{
    color:purple;
}
a:hover{
    color:yellow;
}
a:visited{
    color:grey;
}
