h1{
  color:red;
  font-family:sans-serif
  text-align:center;
}


p{
  font-family:sans-serif;
}

img{
  margin: 0 auto;
}

.hometext{
  text-align: center;
}

#intro{
    font-family:Verdana;
    }

.colour{
    color:green;
    }

a:link{
    color:purple;
}
a:hover{
    color:yellow;
}
a:visited{
    color:grey;
}

body {
    background-color: #9DB6C7;
}

.img-circle {
    border-radius: 50%;
}
