h1{
  color:red;
  text-align:center;
}

h2{
color:blue;
text-align:center;
}

p{
  font-family:sans-serif;
}

.center-div{
  margin: 0 auto;
  width: 100px; 
}

#intro{
    font-family:Verdana;
    }

.colour{
    color:green;
    }

a:link{
    color:purple;
}
a:hover{
    color:yellow;
}
a:visited{
    color:grey;
}

body {
    background-color: #9DB6C7;
}

.img-circle {
    border-radius: 50%;
}
